@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Roboto Condensed', sans-serif;
}
h1 {
  font-size: 52px;
}
h2 {
  font-size: 38px;
  font-weight: 200;
}
h3 {
  font-size: 25px;
}
h4 {
  font-size: 20px;
}
p {
  font-size: 15px;
}
ul {
  padding-left: 0;
}
ul li {
  list-style: none;
}


.bg-gray {
  background: #e9ecef;
}



/*#banner {
  background-size: cover;
  background-image: url("");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding: 100px 0;
}


#banner .block > p {
  margin-bottom: 65px;
}
#banner .block {
  padding: 60px 0;
}
#banner .block h1 {
  margin-bottom: 18px;
  line-height: 55px;
  color: #17c671;
  font-weight: 300;
}
#banner .block h1 span{
  color: #fff;
}

#banner .block p {
  font-size: 20px;
  color: #999;
  font-weight: 300;
}*/

#banner {
  background: linear-gradient(to bottom, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.2) ), linear-gradient(to top, rgba(0,0,0,0.6) 50%, rgba(0,0,0,0.9) ), url("../images/beautiful-image1.jpg") no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  position: relative;
  background-position: center top;
  padding: 100px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media only screen and (max-width: 991px) {
  #banner {
    background-attachment: scroll;
    width: 100%;
    

  }

}
.navbar-default {
  padding: 40px 0;
  -webkit-transition: padding 1s linear;
  transition: padding 1s linear;
}
.navbar-default.navbar-shrink {
  padding: 10px 0;
  transition: padding 1s linear;
    -webkit-transition: padding 1s linear
}

#banner .block > p {
  margin-bottom: 65px;
}
#banner .block {
  padding: 0;
  margin-top: 100px;
}
#banner .b1 {
  padding: 0;
  margin-top: 400px;
}
#banner .block h1 {
  margin-bottom: 18px;
  line-height: 55px;
  color: #428bca;
  font-weight: 300;
  font-size: 60px;

}
#banner .block h1 span{
  color: #fff;
}

#banner .block p {
  font-size: 20px;
  color: #999;
  font-weight: 300;
}





#learn_more {
  padding: 10px 0;
  text-align: center;
}
#learn_more h2 {
  font: 400 48px/0.8 'Great Vibes', Helvetica, sans-serif;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
}
#learn_more .learn_more-wrapper {
  padding: 10px 0;
    margin: 0 auto;
}
#learn_more .block {
  cursor: pointer;
  text-align: center;
    margin-top: 10px;
}
#learn_more .block:hover .icon i {
  color: #fff;
}
#learn_more .block:hover h3 {
  color: #141B41;
}
#learn_more .block:hover .icon {
  border: 1px solid #141B41;
  background: #141B41;
  color: #fff;
  -webkit-box-shadow: 0 0 0px 2px #141B41;
  -moz-box-shadow: 0 0 0px 2px #141B41;
  box-shadow: 0 0 0px 2px #141B41;
}
#learn_more .block .icon {
  width: 90px;
  height: 90px;
  margin: 0 auto;
  border-radius: 100%;
  border: 1px solid #dedede;
  text-align: center;
  -webkit-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all;
}

#learn_more .block a img {
  width: 180px;
  height:180px;
  margin: 0 auto;
  border-radius: 100%;
  
  text-align: center;
  -webkit-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all;
}
#learn_more .block i {
  font-size: 25px;
  line-height: 90px;
  color: #989898;
  -webkit-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all;
}
#learn_more .block h3 {
  color: #555;
  font-weight: 300;
  font-size: 24px;
}
#learn_more .block p {
  color: #666;
}

.thumbnail {
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#latest-readings {
  background-color: #e9ecef;    
  padding:  0 0 40px 0;
}

#latest-readings h3 {
  color: #555;
  font-weight: 300;
  padding: 40px;
  font: 400 48px/0.8 'Great Vibes', Helvetica, sans-serif;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 

}

#latest-readings h4 {
  color: #555;
  font-weight: 300;
  padding: 10px;
}

#latest-readings p {
  color: #5A6169;
  padding: 10px;
}

#latest-readings .title {
  font-weight: 300;
}
#latest-readings .latest-readings-item {
  margin-top: 40px;
}
#latest-readings .latest-readings-item:first-child {
  margin-top: 0;
}
#latest-readings .latest-readings-item .icon {
  padding-right: 22px;
}
#latest-readings .latest-readings-item .icon i {
  color: #17c671;
  font-size: 30px;
}
#latest-readings .latest-readings-item h4 {
  color: #17c671;
  margin-bottom: 0;
  font-weight: 300;
  margin-bottom: 8px;
}
#latest-readings .latest-readings-item p {
  color: #9499a2;
}
#latest-readings .block {
  text-align: center;
}
#latest-readings .block img {
  display: inline-block;
}

.readmore-btn {   
  color: #fff;
  border: none;
  text-align: center;    
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 14px;  
}

.btn-green {
  background: #141B41;
  border: 1px solid transparent;
  -webkit-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all;
}

.btn-navy {
  background: #BFC3BA;
  border: 1px solid transparent;
  -webkit-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all;
}
 
#utility .block p .clearfix {
    overflow: auto;
}

#utility {
  padding: 40px 0;
}

#utility .block .readmore-btn li a {
  color: #fff;
  border: none;
  border-radius: 0;
  padding: 10px 28px 13px;
  font-size: 18px;
}

#utility .block .readmore-btn li .btn-light-blue {
  background: #00afec;
  border: 1px solid transparent;
  -webkit-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all;
}
#utility .block .readmore-btn li .btn-light-blue:hover {
  color: #00afec;
  background: #fff;
  border: 1px solid #00afec;
}

#utility .block h2 {
  padding-top: 30px;
  color: #444;
}
#utility .block p {
  padding-top: 10px;
  line-height: 32px;
  color: #7c828b;
  font-size: 16px;
}
#utility-2 {
  background: #f6f6f7;
  padding: 40px 0;
}
#utility-2 .block {
  padding-top: 100px;
}

#utility-2 .block .readmore-btn li a {
  color: #fff;
  border: none;
  border-radius: 0;
  padding: 10px 28px 13px;
  font-size: 18px;
}

#utility-2 .block .readmore-btn li .btn-light-blue {
  background: #00afec;
  border: 1px solid transparent;
  -webkit-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all;
}
#utility-2 .block .readmore-btn li .btn-light-blue:hover {
  color: #00afec;
  background: #fff;
  border: 1px solid #00afec;
}
#utility-2 .block h2 {
  color: #666;
}
#utility-2 .block p {
  line-height: 32px;
  color: #9AA0A9;
  font-size: 16px;
}

.top-pad { 
    padding-top: 40px;
}

.top-pad2 { 
    padding-top: 50px;
}

#mylife {
  padding: 20px 0;
}

#mylife .mylife-wrapper {
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  padding: 110px 0;
}

#mylife .title {
  font-weight: 300;
}
#mylife .mylife-item {
  margin-top: 40px;
}

#mylife .mylife-item:first-child {
  margin-top: 0;
}
#mylife .mylife-item .icon {
  padding-right: 22px;
}
#mylife .mylife-item .icon i {
  color: #00afec;
  font-size: 30px;
}
#mylife .mylife-item h4 {
  color: #00afec;
  margin-bottom: 0;
  font-weight: 300;
  margin-bottom: 8px;
}
#mylife .mylife-item p {
  color: #9499a2;
}
#mylife .block {
  text-align: center;
}
#mylife img {
  display: inline-block;
    padding-top: 40px;
}

#subscribe {
  background-color: #212529;
  padding: 70px 0;
}
#subscribe .block {
  padding-top: 40px;
}
#subscribe p {
  color: #96908E;
}
#subscribe h2 {
  color: #fff;
}
#subscribe .form-inline {
  padding-top: 16px;
}
#subscribe .form-inline .form-group {
  position: relative;
  text-align: center;
}
#subscribe .form-inline .form-group .form-control {
  position: relative;
  display: inline-block;
}
#subscribe .form-inline .form-group input {
  width: 200px;
  padding: 20px 0px 20px 15px;
  border-radius: 0;
  background: white;
  border: 1px solid #d4d4d4;
  border: 1px solid #d1d1d1;
  box-shadow: none;
}
#subscribe .form-inline .form-group input:hover,
#subscribe .form-inline .form-group input:active,
#subscribe .form-inline .form-group input:focus {
  box-shadow: none;
}
#subscribe .form-inline i {
  font-size: 18px;
  color: #fff;
  display: inline-block;
}
#subscribe .btn-signup {
  background: #BFC3BA;
  padding: 10px 20px;
  color: #fff;
  border-radius: 0;
  border: none;
  margin-left: -4px;
  border: 1px solid transparent;
  -webkit-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all;
}
#subscribe .btn-signup:hover {
  background: #fff;
  border: 1px solid #BFC3BA;
}
#subscribe .btn-signup:hover i {
  color: #BFC3BA;
}
footer {
  background: #f9f9f9;
  border-top: 1px solid #e8e8e8;
  padding: 40px 0 20px;
}
footer .footer-logo {
  margin-bottom: 15px;
  display: inline-block;
  text-align: center;
}
footer p {
  color: #212529;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
}
 .powerpoint {
  position: center;
    padding: 50px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 75%;
    height: auto;
  }
 .video-1 {
    width: 50%;
    height: auto;
    background-color: #fff;
}

.logos {
  padding: 50px;
  background-color: #fff;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;


}
.lolo {
  margin-top: 100px;
  margin-bottom: 100px;
}
.ill {
  padding: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  text-align: center;
  width: 50%;
  vertical-align: center;

}
.w5 {
  height: auto;
  width: 30%;
  float: left;
}
.w1 {
  height: auto;
  width: 35%;

}
.w2 {
  height: auto;
  width: 25%;

}
.w3 {
  height: auto;
  width: 25%;
}
.w4 {
  width: 50%;
  padding: 20px;
  float: left;
}
.w41 {
  width: 100%;
  padding: 20px;

}
.w6 {
  width: 100%;
  height: auto;
  text-align: center;
}
@media only screen and (max-width : 991px) {
  .w4 {
    width: 100%;
    float: none;
    display: block;
  }
  .t .bgfbox-content {
    height: 100%;
  }

  .t {
      overflow: hidden;
     margin: 0 auto;
     height: 700px;
  }
  .t .col-md-6 {
    padding-bottom: 20px;
  }
}
.wire1 {
  background-color: #212529;
}
#wireframes {
  display: block;
  text-align: center;
}
#tiny {

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#tiny1 {

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.tiny-text {
  font-size: 24px;
  text-align: center;
  padding: 30px;

}
.t {
  text-align: center;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.bgfbox .wire1 p {
  padding: 50px;
}
@media only screen and (max-width : 991px) {
  .bgfbox .wire1 p {
    padding: 0;
  }
}
.navigator {
  visibility: hidden;
}
.l1 {
  width: 25%;
  height: auto;
  float: left;
  padding: 20px;
}
.l2 {
  width: 25%;
  height: auto;
  float: left;
  padding: 20px;
}
.l3 {
  width: 25%;
  height: auto;
  float: left;
  padding: 20px;
}
.l4 {
  width: 25%;
  height: auto;
  float: left;
  padding: 20px;
}

@media only screen and (min-width : 481px) {
  .flex-row.row {
    display: flex;
   flex-wrap: wrap;
  }
  .flex-row.row > [class*='col-'] {
    display: flex;
    flex-direction: column;
   flex-grow: 1;

  }
  .flex-row.row:after, 
  .flex-row.row:before {
   display: flex;
  }
}

/* Flexy Bootstrap addon for bordered grid flex boxes */
@media only screen and (min-width: 992px) {
  .bgfbox .flex-row .col-md-4:first-child > a, 
  .bgfbox-first, 
  .bgfbox-content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }
}
@media only screen and (min-width: 992px) {
  .bgfbox1 .flex-row .col-md-4:first-child > a, 
  .bgfbox-first, 
  .bgfbox-content1 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }
}
@media only screen and (max-width: 768px) {
  .bgfbox .col-md-6 {
    height: 100%;
    width: 100%;
  }


  .bgfbox1 .col-md-6 h4 {
    width: 100% !important;
    height: 100% !important;
    padding-bottom: 50px !important;
    
  }
}







/* Borders */



/* No row margins */
.bgfbox .flex-row {
  margin-left: 0px;
  margin-right: 0px;
}
/* No column padding */
.bgfbox .col-md-4 {
  

}
.bgfbox .col-md-6 {
  
 
}
/* Add padding to content */
.bgfbox .bgfbox-content {
  padding: 20px;
  height: 500px;
  
}
.bgfbox1 .flex-row {
  margin-left: 0px;
  margin-right: 0px;
}
/* No column padding */
.bgfbox1 .col-md-6 {
  padding: 5px;

}
/* Add padding to content */
.bgfbox1 .bgfbox-content1 {
  
 
  height: 100%;
  width: 100%;
  
}



/* Colors */
.bgfbox .bgfbox-first a {
    color: #fff;
}
.bgfbox .bgfbox-first h2 {
  margin-bottom: 50px;
}
.bg-1 {
  background: url("../images/Post-it-01.png") no-repeat center center;
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.bg-2 {
  background: url("../images/Ass-9-2-01.png") no-repeat center center;
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}
.bg-3 {
  background: url("../images/Ass-5-2-01.png") no-repeat center center;
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}
.bg-4 {
  background: url("../images/img1.png") no-repeat center center;
  background-size: contain;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}

.bg-6 {
  background: url("../images/img2.png") no-repeat center center;
  background-size: contain;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.bg-7 {
  background: url("../images/img3.png") no-repeat center center;
  background-size: contain;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}

.bg-8 {
  background: url("../images/img4.png") no-repeat center center;
  background-size: contain;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.bg-9 {
  background: url("../images/Screen Shot 2018-12-10 at 7.43.13 PM.png") no-repeat center center;
  background-size: contain;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.bg-10 {
  background: url("../images/Screen Shot 2018-12-10 at 7.43.32 PM.png") no-repeat center center;
  background-size: contain;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.bg-white.bg-hover-inverse:hover {
  background-color: #000;
}
.bg-white.bg-hover-inverse:hover * {
  color: #fff;
}

/* Icons */
.bgfbox-icon-wrap {
  margin-bottom: 10px;
  font-size: 32px;
}

/* Hover Animation */

.bg-hover-fade:hover, 
.bg-hover-fade:focus, 
.bg-hover-fade:active {
  background-color: transparent;
  color: #fff;
}

/* DEMO STYLES  */
.bgfbox {
  padding-top: 100px;
  padding-bottom: 100px;
  color: white;
}
.bgfbox1 {
  padding-top: 100px;
  padding-bottom: 100px;
  color: #fff;
  background-color: #212529;

}
.bgfbox1 h2, .bgfbox1 h4 {
  font-family: 'Notable', sans-serif;
  text-align: center;
}
.bgfbox1 h4 {
  margin-bottom: 15px;
  padding-bottom: 10px;
}
.bgfbox1 p, a {
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  text-align: center;
}

@media only screen and (max-width: 991px) {
  .bgfbox .bgfbox-content {
    height: 250px;
    padding: 5px;
  }
  .bgfbox .col-md-4 {
  padding: 5px;

}
.bgfbox .col-md-6 {
  padding: 5px;
 
}
  .bgfbox1 .bgfbox-content1 {
    height: auto;
    max-width: 100%;
    float: none;
  }
  .bgfbox1 .bgfbox1-text {
    height: 50px;
  }
  .bgfbox1 .bgfbox-content1 .home1 {
    background-size: 100% auto;
    -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  float: none;
  max-width: 100%;
  display: block;
  
  }
  .bgfbox1 .bgfbox-content1 .home2 {
    background-size: 100% auto;
    -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  float: none;
  max-width: 100%;
  display: block;

  }
}

.home1 {
  background: url("../images/img1.png") no-repeat center center;
  background-size: 100% auto;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  -webkit-filter: brightness(30%);
  padding: 50px 0;
  background-size: 100% auto;
  width: 100%;
  height: 250px;
  position: relative;
  display: inline-block;
 
  
}


.home1:hover {
    -webkit-filter: brightness(100%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;

}

.home2 {
  background: url("../images/img3.png") no-repeat center center;
  background-size: 100% auto;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  -webkit-filter: brightness(30%);
  padding: 50px 0;
  background-size: 100% auto;
  width: 100%;
  height: 250px;
  position: relative;
  display: inline-block;
  

}

.home2:hover {
    -webkit-filter: brightness(100%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.chromeframe {
    margin: 0.2em 0;

    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FFB30F;
    z-index: 1001;
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

    #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #FF0202;

        -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #437F97;

        -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    @-webkit-keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }
    @keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }
#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222222;
    z-index: 1000;
}
 
#loader-wrapper .loader-section.section-left {
    left: 0;
}
 
#loader-wrapper .loader-section.section-right {
    right: 0;
}
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
}
.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
}
.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.loaded #loader-wrapper .loader-section.section-right,
.loaded #loader-wrapper .loader-section.section-left {
 
    -webkit-transition: all 0.3s 0.3s ease-out; 
            transition: all 0.3s 0.3s ease-out;
}
.loaded #loader-wrapper {
        -webkit-transform: translateY(100%);
            -ms-transform: translateY(100%);
                transform: translateY(100%);
 
        -webkit-transition: all 0.3s 0.6s ease-out; 
                transition: all 0.3s 0.6s ease-out;
}

.loaded #loader-wrapper {
    visibility: hidden;
}


