ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	float: left;
}
li a {
	display: block;
	color: #5A6169;
	font-size: 14px;
	line-height: 1.5px;
	text-align: center;
	padding: 14px 16px;
	font-family: 'roboto', sans-serif;
}
li a:hover {
	color: #212529;
	text-decoration: none;
}
.active {
	color: #212529;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #17c671;
}

.navbar{
	background-color: #e9ecef;
	padding: 12px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.navbar-nav {
	display: block;
	float: left;
}
.bg-image {
	display: table;
	background: linear-gradient( rgba(0,0,0,0.6), rgba(0, 0, 0, 0.6) ), url('Devon_Main_test.png');
	width: 100%;
	height: 100%;
	height:calc(80% - 1px);
	background-size: cover;
	position: relative;
}

body {
	margin: 0;
	padding: 0;
	padding-bottom: 70px;
	width: 100%;
}
.bg-image img {
	width: 100%;
}
.logo {
  color:#e9ecef;
  font-size:14pt;
  padding:100px;
  text-align:center;
}
.line {
  padding-top:20px;
  white-space:no-wrap;
  overflow:hidden;
  text-align:center;
}
}
.hero {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	height: 100%;
	margin: 0 auto;

}
.box1 {
	position: relative;
	padding: 30px;
}
.icons {
	height:100%;
	padding: 30px;
	padding-bottom: 50px;
	background-color: #e9ecef;

}
.icon-text {
	bottom: 0;
	text-align: center;
}
.organic {
	height: 60px;
	width: auto;
}
.plastic {
	height: 60px;
	width: auto;
}
.paper {
	height: 60px;
	width: auto;
}
.glass {
	height: 60px;
	width: auto;
}
.electronic {
	height: 60px;
	width: auto;
}
.readings {
	padding:120px;
	background-color: #e9ecef;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cards {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   height: 400px;
   text-align: center;
}
.card {
    flex: 0 1 24%;
    position: relative;
    margin: 0 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#card1 {
	position: relative;
	width: 100%;
}
.greentext {
	color: #17c671;
}
.greenline {
	color: #0067f4;
	text-align: center;
	font-weight: bolder;
}
input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}
.my-small-btn {
	position: absolute;
	width: 0px;
	padding-right: 110px;
	padding-left: 30px;
	bottom: 15px;
	left: 15px;
	text-align: center;
	border-radius: 12px;
}
.carousel-inner img {
      width: 100%;
      height: 100%;
  }
  .powerpoint {
  	padding: 50px;
  }
  .video-1 {
  	width: 50%;
  	height: auto;
}
.illustrator {
	padding: 100px;
}
.img-thumbnail {
	width: 100%;
	height: auto;
	float: left;
	display: block;
}
audio {
	display: block;
	width: 50%;
}
.album-art {
	height: 60px;
	width: auto;
	padding: 20px black;
}
h1 {
	padding: 30px;
}
.text_1 {
	text-align: center;
}
.about-music {
	background-color: #5a6169;
	color: #e9ecef;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.references {
	font-size: 20px;
	text-decoration: italic;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding-bottom: 300px;
}
.ref-left {
	padding: 30px;
}
.ref-right {
	padding: 30px;
}
.skills {
	background-color: #5a6169;
	color: #e9ecef;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.skills-text {
	padding: 50px;
}
.footer-tag {
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: #e9ecef;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
footer {
	padding-top: 100px;
	padding-bottom: 100px;
}
.fa-instagram {
  background: #125688;
  color: white;
 }
 .fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}



.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}
